@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #1a535c;
  --color-secondary: #4ecdc4;
  --color-base-100: white;
  --color-base-200: #f7fff7;
}

a.active li {
  @apply text-secondary;
}

* {
  font-family: "Inter", sans-serif;
}
